{% load static %}

<footer>
  <img src="{% static 'img/logo.png' %}" width="128">
  <ul>
    <li><a href="https://www.flaticon.com/search?word=camera"></a>Diseño del logotipo: Flaticon</li>
    <li><a href="https://www.flaticon.com/search?word=camera"></a>Diseño del logotipo: Flaticon</li>
    <li><a href="https://www.flaticon.com/search?word=camera"></a>Diseño del logotipo: Flaticon</li>
  </ul>
  <ul>
    <li><a href="{% url 'index' %}">Inicio</a></li>
    <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
  </ul>
  <ul>
    <li><a href="https://www.flaticon.com/search?word=camera"></a>Diseño del logotipo: Flaticon</li>
    <li><a href="https://www.flaticon.com/search?word=camera"></a>Diseño del logotipo: Flaticon</li>
    <li><a href="https://www.flaticon.com/search?word=camera"></a>Diseño del logotipo: Flaticon</li>
  </ul>
</footer>